doctype html
html(ng-app='ru')
  head
    title Sandbox
    meta(charset='utf8')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(rel='stylesheet' href='css/styles.min.css')
    script(type='text/javascript' src='js/head.min.js')

  body()
    h1 welcome On Sandbox
    ui-view

    script(type='text/javascript' src='js/body.min.js')
