doctype html
html(ng-app="ru")
  head
    title Homepage
    meta(charset="UTF-8")
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(rel='stylesheet' href='css/styles.min.css')
    script(type='text/javascript' src='js/head.min.js')
  body
    h1 Welcome here !!!
    div(ng-controller="CarouselDemoCtrl")
      div(style="height: 305px")
        uib-carousel(interval="myInterval" no-wrap="noWrapSlides")
          uib-slide(ng-repeat="slide in slides" active="slide.active")
            img(ng-src="{{slide.image}}" style="margin:auto;")
            div(class="carousel-caption")
              h4 Slide {{$index}}
              p {{slide.text}}

    script(type='text/javascript' src='js/body.min.js')
