html
  head
    title Login Page
  body
    div.container
      span(class="glyphicon glyphicon-search" aria-hidden="true")
      form(name="loginForm" ng-submit='login(user)' novalidate)
        p woot
        label(for="username") Login
        input(id="username" type="text" name='username' placeholder='username' ng-model="user.username" required autofocus)
        label(for="password") Password
        input(id="password" type="password" name='password' placeholder='password' ng-model="user.password" required)

        input(type="button" ng-click="reset()" value="Reset")
        input(type="submit" ng-click="login(user)"  ng-disabled='loginForm.$invalid' value="Save")
